<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzc.mapper.CommentsMapper">

    <select id="getCommentsById" resultType="com.xzc.pojo.Comments" >
        select
                id as id,
                father_comment_id as fatherCommentId,
                to_user_id as toUserId,
                video_id as videoId,
                from_user_id as fromUserId,
                comment as comment,
                create_time as createTime
        from comments
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getCommentsListByMap" resultType="com.xzc.pojo.Comments" parameterType="java.util.Map">
        select
                id as id,
                father_comment_id as fatherCommentId,
                to_user_id as toUserId,
                video_id as videoId,
                from_user_id as fromUserId,
                comment as comment,
                create_time as createTime
        from comments
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="id != null and id!=''">
                        and id=#{id}
                    </if>
                    <if test="fatherCommentId != null and fatherCommentId!=''">
                        and father_comment_id=#{fatherCommentId}
                    </if>
                    <if test="toUserId != null and toUserId!=''">
                        and to_user_id=#{toUserId}
                    </if>
                    <if test="videoId != null and videoId!=''">
                        and video_id=#{videoId}
                    </if>
                    <if test="fromUserId != null and fromUserId!=''">
                        and from_user_id=#{fromUserId}
                    </if>
                    <if test="comment != null and comment!=''">
                        and comment=#{comment}
                    </if>
        </trim>
         order by createTime desc
        <if test="beginPos != null and pageSize != null">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getCommentsCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from comments
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="fatherCommentId != null and fatherCommentId!=''">
                    and father_comment_id=#{fatherCommentId}
                </if>
                <if test="toUserId != null and toUserId!=''">
                    and to_user_id=#{toUserId}
                </if>
                <if test="videoId != null and videoId!=''">
                    and video_id=#{videoId}
                </if>
                <if test="fromUserId != null and fromUserId!=''">
                    and from_user_id=#{fromUserId}
                </if>
                <if test="comment != null and comment!=''">
                    and comment=#{comment}
                </if>
                <if test="createTime != null and createTime!=''">
                    and create_time=#{createTime}
                </if>
        </trim>
    </select>

    <insert id="insertComments" parameterType="com.xzc.pojo.Comments">
        insert into comments(
                        id,
                        father_comment_id,
                        to_user_id,
                        video_id,
                        from_user_id,
                        comment,
                        create_time)
        values(
                      #{id},
                     #{fatherCommentId},
                     #{toUserId},
                     #{videoId},
                     #{fromUserId},
                     #{comment},
                    #{createTime})
    </insert>

    <update id="updateComments" parameterType="com.xzc.pojo.Comments">
        update comments
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                    <if test="id != null and id!=''">
                        id=#{id},
                    </if>
                    <if test="fatherCommentId != null and fatherCommentId!=''">
                        father_comment_id=#{fatherCommentId},
                    </if>
                    <if test="toUserId != null and toUserId!=''">
                        to_user_id=#{toUserId},
                    </if>
                    <if test="videoId != null and videoId!=''">
                        video_id=#{videoId},
                    </if>
                    <if test="fromUserId != null and fromUserId!=''">
                        from_user_id=#{fromUserId},
                    </if>
                    <if test="comment != null and comment!=''">
                        comment=#{comment},
                    </if>
                    <if test="createTime != null and createTime!=''">
                        create_time=#{createTime}
                    </if>
        </trim>
    </update>

    <delete id="deleteCommentsById" parameterType="Long">
        delete from comments where id = #{id}
    </delete>
</mapper>