<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzc.mapper.UsersFansMapper">

    <select id="getUsersFansById" resultType="com.xzc.pojo.UsersFans" >
        select
                id as id,
                user_id as userId,
                fan_id as fanId
        from users_fans
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getUsersFansListByMap" resultType="com.xzc.pojo.UsersFans" parameterType="java.util.Map">
        select
                id as id,
                user_id as userId,
                fan_id as fanId
        from users_fans
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="id != null and id!=''">
                        and id=#{id}
                    </if>
                    <if test="userId != null and userId!=''">
                        and user_id=#{userId}
                    </if>
        </trim>
         order by creationDate desc
        <if test="beginPos != null and beginPos!='' and pageSize != null  and pageSize !='' ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getUsersFansCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from users_fans
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="userId != null and userId!=''">
                    and user_id=#{userId}
                </if>
                <if test="fanId != null and fanId!=''">
                    and fan_id=#{fanId}
                </if>
        </trim>
    </select>

    <insert id="insertUsersFans" parameterType="com.xzc.pojo.UsersFans">
        insert into users_fans(
                          id,
                        user_id,
                        fan_id)
        values(
                    #{userId},
                     #{userId},
                    #{fanId})
    </insert>

    <update id="updateUsersFans" parameterType="com.xzc.pojo.UsersFans">
        update users_fans
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                    <if test="id != null and id!=''">
                        id=#{id},
                    </if>
                    <if test="userId != null and userId!=''">
                        user_id=#{userId},
                    </if>
                    <if test="fanId != null and fanId!=''">
                        fan_id=#{fanId}
                    </if>
        </trim>
    </update>

    <delete id="deleteUsersFansById" parameterType="Long">
        delete from users_fans where id = #{id}
    </delete>

    <delete id="delUsersFans" parameterType="String">
        delete from users_fans where user_id = #{userId} and fan_id=#{fansId}
    </delete>
</mapper>