<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzc.mapper.UsersMapper">

    <select id="getUsersById" resultType="com.xzc.pojo.Users" >
        select
                id as id,
                username as username,
                password as password,
                face_image as faceImage,
                nickname as nickname,
                fans_counts as fansCounts,
                follow_counts as followCounts,
                receive_like_counts as receiveLikeCounts
        from users
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getUsersListByMap" resultType="com.xzc.pojo.Users" parameterType="java.util.Map">
        select
                id as id,
                username as username,
                password as password,
                face_image as faceImage,
                nickname as nickname,
                fans_counts as fansCounts,
                follow_counts as followCounts,
                receive_like_counts as receiveLikeCounts
        from users
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="id != null and id!=''">
                        and id=#{id}
                    </if>
                    <if test="username != null and username!=''">
                        and username=#{username}
                    </if>
                    <if test="password != null and password!=''">
                        and password=#{password}
                    </if>
                    <if test="faceImage != null and faceImage!=''">
                        and face_image=#{faceImage}
                    </if>
                    <if test="nickname != null and nickname!=''">
                        and nickname=#{nickname}
                    </if>
                    <if test="fansCounts != null and fansCounts!=''">
                        and fans_counts=#{fansCounts}
                    </if>
                    <if test="followCounts != null and followCounts!=''">
                        and follow_counts=#{followCounts}
                    </if>
        </trim>
         order by creationDate desc
        <if test="beginPos != null and beginPos!='' and pageSize != null  and pageSize !='' ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getUsersCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from users
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="username != null and username!=''">
                    and username=#{username}
                </if>
                <if test="password != null and password!=''">
                    and password=#{password}
                </if>
                <if test="faceImage != null and faceImage!=''">
                    and face_image=#{faceImage}
                </if>
                <if test="nickname != null and nickname!=''">
                    and nickname=#{nickname}
                </if>
                <if test="fansCounts != null and fansCounts!=''">
                    and fans_counts=#{fansCounts}
                </if>
                <if test="followCounts != null and followCounts!=''">
                    and follow_counts=#{followCounts}
                </if>
                <if test="receiveLikeCounts != null and receiveLikeCounts!=''">
                    and receive_like_counts=#{receiveLikeCounts}
                </if>
        </trim>
    </select>

    <insert id="insertUsers" parameterType="com.xzc.pojo.Users">
        insert into users(
                        id,
                        username,
                        password,
                        face_image,
                        nickname,
                        fans_counts,
                        follow_counts,
                        receive_like_counts)
        values(
                      #{id},
                     #{username},
                     #{password},
                     #{faceImage},
                     #{nickname},
                     #{fansCounts},
                     #{followCounts},
                    #{receiveLikeCounts})
    </insert>

    <update id="updateUsers" parameterType="com.xzc.pojo.Users">
        update users
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                    <if test="id != null and id!=''">
                        id=#{id},
                    </if>
                    <if test="username != null and username!=''">
                        username=#{username},
                    </if>
                    <if test="password != null and password!=''">
                        password=#{password},
                    </if>
                    <if test="faceImage != null and faceImage!=''">
                        face_image=#{faceImage},
                    </if>
                    <if test="nickname != null and nickname!=''">
                        nickname=#{nickname},
                    </if>
                    <if test="fansCounts != null and fansCounts!=''">
                        fans_counts=#{fansCounts},
                    </if>
                    <if test="followCounts != null and followCounts!=''">
                        follow_counts=#{followCounts},
                    </if>
                    <if test="receiveLikeCounts != null and receiveLikeCounts!=''">
                        receive_like_counts=#{receiveLikeCounts}
                    </if>
        </trim>
    </update>

    <delete id="deleteUsersById" parameterType="Long">
        delete from users where id = #{id}
    </delete>
</mapper>